body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

h1 {
    color: #7c3fb5;
    font-size: 2rem;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {

    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    background-color: #f0f0f0;
    color: #7c3fb5;
}



.delete {
    padding: 8px 16px;
    color: white;
    background-color: #7c7c7c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete:hover {
    background-color: #a5a1a1;
}

#signOut {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    color: white;
    background-color: #7c3fb5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

#signOut:hover {
    background-color: #945fc5;
}