body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

input {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1.2rem;
}

button#register {
    background-color: #7c3fb5;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

button#register:hover {
    background-color: #9563c4;
}

.pre-signup-text {
    display: block;
    color: #666;
    margin-top: 2rem;
    font-size: 1.1rem;
}

.signup-link {
    color: #7c3fb5;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}